html {
  color: #273136;
  font: 60%;
}
h1 {
  color: #ffffff;
}
select {
  background-color: #000000;
  color: white;
}
button {
  background-color: #000000;
  color: white;
}

body {
  margin: 0;
  font: 300 14px/1.4 'Helvetica Neue', sans-serif;
  color: #28abec;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #ffffff;
  overflow: hidden;
  text-align: center;
}