/* html {
  color: #273136;
  font: 60%;
}

body {
  margin: 0;
  font: 300 14px/1.4 'Helvetica Neue', sans-serif;
  color: #569ec2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
   background: #273136;
  overflow: hidden;
  text-align: center;
} */