.div-world-times {
  display: grid;
  color: rgb(0, 0, 0);
  grid-template-columns: repeat(7, 1fr);
  max-width: 80%;
  margin: 0 auto;
  /* Center the grid horizontally */
  /* Add any other styles you need */
}
.h2-world-header {
  display: row;
  background-color: #333;
}



.h2-world-header {
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}