td.country-td {
  padding: 10px;
  color: #000000;;
  font-weight: bold;
  background-color: #2196f3;
  background-size: 100% 100%;
}

td.name {
  font-size: 20px;
}

span.trainer {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

tr.second-row {
  border-spacing: 50px;
  background-color: white;
}
span.jockey {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    color: #635f5f;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
}

.scrollable-content {
  max-height: 10000px;
  flex: 1;
  overflow-y: auto;
}

.time-content {
  max-width: 80%;
    /* Adjust the maximum width as per your design */
    margin: 0 auto;
}
button.toggle-off {
    justify-content: flex-start;
    display: flex;
}
.button-save {
  background-color: blue;
  /* Initial background color */
  color: white;
  /* Text color */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button-save:active {
  background-color: red;
  /* Background color when button is active (clicked) */
}

table 
{width: 100%;
  border-collapse: collapse;
      text-indent: initial;
        border-spacing: 2px solid;
}
td.gender {
  max-width: 18px;
}
/* Add styles for the time-container and table as needed */
/* Adjust the race times container */
.race-times-container {
  flex: 1;
  margin-left: 20px;
  /* Add spacing from the content container */
  padding-left: 0;
  /* Remove the excessive padding */
  margin-bottom: 0;
  /* Remove excessive margin */
}

// /* Style the first cell in each row */
// tr td:first-child {
 
//   background-color: #d9f3fd;
//   // background-color: #b3d4fc;;
//   // background-color: #f3fbfe;
// }

/* Style the accordion header */
.ui-accordion .ui-accordion__header {
  color: #0037b2;
  font-size: 20px;
  padding: 16px 8px;
  border: 1px solid #efefef;
  border-bottom-width: 3px;
  font-weight: 600;
  background-color: #ffffff;
}

/* Style the table container with horizontal scrolling */
.table-container {
max-height: 10000px;
  /* Adjust the value to match the max-height of scrollable-content */
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  overflow-x: auto;
}

/* Style the table */


/* Style the table header */
thead {
  background-color: #f0f0f0;
  font-weight: bold;
}

/* Style the table rows */
tr {
  background-color: #fff;
}

/* Style table cells */
td {
  padding: 8px;
  border: 1px solid #ddd;
}

/* Style table header cells */
table tr th {
  font-family: 'Open Sans', sans-serif;
  padding: 16px 8px;
  color: #fff;
  background-color: #0037b2;
  font-size: 15px;
  font-weight: 400;
}
/* Style table rows */
tr {
  background-color: #fff;
  
}

/* Style every other table row */
tr:nth-child(even) {
  // background-color: #ffffff;
    // background-color: #b3d4fc;;
      // background-color: #e6f5fa;
      margin-bottom: 10px;
}
/* Add spacing between table rows */
tr.horse-row {
  margin-bottom: 20px;
  // background-color: #b3d4fc;
      background-color: #e6f5fa;
  /* Adjust the margin as needed */
}

/* Style every other table row (odd rows) with a different background color */
// tr:nth-child(odd) {
//   background-color:#e6f8ff;
//   text-shadow: none;
//   /* Change this color as needed */
// }
body {
  overflow-y: auto;
 
  color: #333;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.th-colspan {
  color: #0037b2;
  background-color:#ffffff;
  padding: 13px 8px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.horse {
  

  padding: 22px;
  
  /* Adjust the value as needed */
}

.name {
  color: #0037b2;
  padding: 30px;
}

/* Add this to your CSS file or a stylesheet */
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Define a CSS class to make an image fit within its container */
#img-fit {

  background-size: cover;
  /* Set the maximum width to 100% of its container */
  height: 10px;
  /* Set the height to auto to maintain the aspect ratio */
}


span.race-name {
      font-size: 15px;
      line-height: 24px;
      color: #0037b2;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        transition: all .2s ease-in-out;
}

span.race-data {
  color: #333;
  font-weight: 300;
  line-height: 24px;
  font-size: 15px;

}

div {
  margin-bottom: 20px;
}