ul {
  color: rgb(241, 0, 0);
  font-size: 14px;
}

.centered-container {
  color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.267);
}
h1.owner-tracker {
  color:#0037b2;
  font-weight: 700;
  font-size: 50px;
}

.centered-container {
  text-align: center;
  border: auto;
  padding: 200px;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
    /* Add background image */
      // background-image: url("../../public/img/horse.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      color: #d30000;
}